body{
    font-size: 20px;
}

div.title{
    margin-top: 30px;
    margin-left: 30px;
    text-align: center;
    text-shadow: 20px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}

div.margin{
    border: 2px solid black;
    padding: 20px 25px;
    margin: 20px 25px;
    background-color: rgb(172, 240, 199);
    text-align: center;
}

div.padding{
    padding: 20px 25px;
    margin: 20px 25px;
    border: 2px solid black;
    background-color: rgb(234, 210, 210);
}

div.content{
    border: 2px solid black;
    background-color: rgb(255, 255, 224);
    text-align: center;
    padding: 20px 25px;
    margin: 20px 25px;
}

#separation{
    background-color: rgb(219, 220, 249);
    padding: 20px 25px;
    margin: 20px 25px;
    border: 2px solid rgb(104, 133, 49);
}

div.margin p:hover{
    background-color: rgb(21, 131, 47);
}

div.padding p:hover{
    background-color: rgba(223, 9, 173, 0.495);
}

div.content p:hover{
    background-color: rgb(186, 200, 61);
}

