#cur-1, #cur-2, #cur-3{
    margin: 23px;
    padding: 23px;
    border: 1px solid black;
}

#title{
    text-align: center;
    font-size: 25px;
}

#cur-type-all-scroll{
    /* cursor: all-scroll; */
    /* cursor: col-resize; */
    /* cursor: row-resize; */
    /* cursor: cell; (plus (doctor)) */
    /* cursor: grab ; (Hand) */
    /* cursor: not-allowed; (worning type) */
    /* cursor: pointer; (finger hand) */
    /* cursor: progress; */
    /* cursor: zoom-in; */
    /* cursor: zoom-out; */
}




